* {
    box-sizing: border-box;
}

.container {
    width: 70%;
    display: block;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.general-options {
    display: flex;
    justify-content: space-between;
}

.sort-button {
    width: 40%;
    margin: 0px 20px;
}

.bars-count {
    width: 40%;
}

.sort-speed {
    width: 40%;
}

.option-contents {
    display: flex;
    justify-content: space-between;
}

.sorting-container {
    width: 90%;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    margin: 50px auto;
}